# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_KIDLAT_LEFT
	def_bool $(shields_list_contains,kidlat_left)

config SHIELD_KIDLAT_RIGHT
	def_bool $(shields_list_contains,kidlat_right)